body {
  font-size: 14px;
}

header {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #efefef;
}

.input-wrapper {
  margin: 10px;
}

#todo-input {
  width: 100%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 40px;
  overflow-y: auto;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo {
  border-bottom: 1px solid #eee;
  padding: 5px;
}

.done {
  text-decoration: line-through;
  color: #888888;
}

.action-remove {
  display: none;
  float: right;
  color: #888;
  text-decoration: none;
  margin-right: 5px;
}

.todo:hover {
  background-color: #F9F9F9;
}

.todo:hover .action-remove {
  display: block;
}

footer {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 40px;
  background: #efefef;
}
